<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
</head>
<body>

<div align="center">

    <h1>싱글벙글 백엔드 갤러리</h1>

    <div th:if="${session.user == null}">
        <h3>비회원 상태입니다.</h3>
        <button onclick="location.href='/login'">로그인</button>
        <button onclick="location.href='/join'">회원가입</button>
    </div>

    <div th:if="${session.user != null}">
        <input type="hidden" th:value="${session.user}" id="sessionUser">
        <h3 th:text="${session.user.getName()} + ' 님 환영합니다 !'"></h3>
        <button onclick="location.href='/logout'">로그아웃</button>
    </div>

    <br>

    <table id="table" width="750" border="1" cellspacing="0" style="text-align: center">
        <tr>
            <td>글 번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>조회수</td>
            <td>개추</td>
            <td>비추</td>
            <td>작성일자</td>
        </tr>

        <tbody id="tableBody">

        </tbody>
    </table>
    <br>

        <button id="writeBTN">글쓰기</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/board.js}"></script>
</body>
</html>