<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
</head>
<body>

<div align="center">

    <h2>싱글벙글 백엔드 갤러리</h2>

    <div>
        <a>비회원 상태입니다.</a>
        <button onclick="location.href='/login'">로그인</button>
        <button>회원가입</button>
    </div>

    <table id="table" width="750" border="1" cellspacing="0" style="text-align: center">
        <tr>
            <td>글 번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>개추</td>
            <td>비추</td>
        </tr>

        <tbody id="tableBody">

        </tbody>
    </table>

        <button>글쓰기</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/board.js}"></script>
</body>
</html>