<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="center">

    <h2>싱글벙글 백엔드 갤러리</h2>

    <table width="750" cellspacing="0" border="1">
        <tr>
            <td th:text="${cont.getTitle()}" style="font-style: oblique"></td>
            <td th:text="${cont.getWriter()}"></td>
        </tr>

        <tr>
            <td th:text="${cont.getContent()}" colspan="2"></td>
        </tr>

        <tr>
            <td><button th:text="'개추 : '+${cont.getBoard_like()}"></button></td>
            <td><button th:text="'비추 : '+${cont.getBoard_unlike()}"></button></td>
        </tr>
    </table>
    <button onclick="history.back()">뒤로가기</button>
</div>
</body>
</html>